 .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.btn-outline-success {
  color: black;
  border-color: black;
}

.btn-outline-success:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: blue;
}

.navbar-brand {
  max-width: 80px;
}

.justify-content-center {
   justify-content: none; 
}

.catagory-img{

  max-width: 265px;
  max-height: 350px;
}

.card-img-top {
  flex-shrink: 0;
  width: 286px;
  height: 350px;
}