 .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.btn-outline-success {
  color: black;
  border-color: black;
}

.btn-outline-success:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: blue;
}

.navbar-brand {
  max-width: 80px;
}

.justify-content-center {
   justify-content: none; 
}

.catagory-img{

  max-width: 265px;
  max-height: 350px;
}

.card-img-top {
  flex-shrink: 0;
  width: 286px;
  height: 350px;
}

.card-img-top:hover {
  transform: scale(1.03);
  transition: 1s;
  transition-timing-function: linear;
}

.extra{
  height: 170px;
    width: 220px;
    position: absolute;
    bottom: 290px;
    left: 33px;
    background-color: rgba(0,255,0,0.4);
}

.font10{
  font-size: 13px;
}

.cart-item{
  text-decoration: line-through;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 5px;
}

.cart-item:hover{
  text-decoration: line-through;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 5px;
}

.cart-img{

  width: 70%;
  height: auto;
}
.border-rad0{
  border-radius: 0px;
}

.modal-header {
  display: block;
 
  text-align: center;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  position: absolute;
  left: 428px;
  top: 18px;
}



